/* Font copied in place by React Studio. Please check that your license for this font file permits embedding on a website. */
@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url('fonts/HelveticaNeue-Medium.ttf');
}

.font-helveticaNeueMedium {
  font-family: 'HelveticaNeue-Medium', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}

/* Font copied in place by React Studio. Please check that your license for this font file permits embedding on a website. */
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Regular.ttf');
}

.font-openSans {
  font-family: 'OpenSans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}

.App { /* Base font style */
  font-family: 'OpenSans', sans-serif;
  font-size: 15.1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.8500);
  background-color: #f6f6f6;
}

.App .baseFont * { /* Base font style override for UI framework components */
  font-family: 'OpenSans', sans-serif;
  font-size: 15.1px;
}

.App .appBg {
  background-color: #f6f6f6;
}

.App .cardBg {
  background-color: white;
}

.App .baseTextBg { /* Base text color as background */
  background-color: rgba(0, 0, 0, 0.8500);
}

.App .secondaryTextColor {
  color: rgba(0, 0, 0, 0.5000);
}

.App .secondaryTextBg {
  background-color: rgba(0, 0, 0, 0.5000);
}

.App .primaryTextColor {
  color: #bee9ee;
}

.App .primaryBg {
  background-color: #bee9ee;
}

.App .highlightTextColor {
  color: #00af74;
}

.App .highlightBg {
  background-color: #00af74;
}

@media (display-mode: standalone) {
  .App {
    user-select: none;
  }
}

/* Styles to customize the UI framework plugin (MUI, https://muicss.com) */
.mui-btn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.mui-btn--primary {
    background-color: #bee9ee;
}
.mui-btn--primary:active, .mui-btn--primary:focus, .mui-btn--primary:hover {
    background-color: #c3ebf0;
}
.mui-btn--accent {
    background-color: #00af74;
}
.mui-btn--accent:active, .mui-btn--accent:focus, .mui-btn--accent:hover {
    background-color: #00b482;
}
.mui-textfield {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-checkbox, .mui-radio {  /* Reset UI framework styling that affects layout */
    margin-top: 0;
    margin-bottom: 0;
}
.mui-select {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-btn+.mui-btn {  /* Reset UI framework styling that affects layout */
    margin-left: 0;
}
.mui-btn--fab {  /* Reset UI framework styling that breaks compositing */
    z-index: auto;
}

@keyframes fadeIn {
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes slideIn_right {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes slideIn_bottom {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* System font classes */

.App .systemFontRegular {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
.App .systemFontBold {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-weight: 600;
}
.App .systemFontItalic {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-style: italic;
}
.App .systemFontBoldItalic {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-weight: 600;
  font-style: italic;
}

/* App-wide text styles specified in React Studio */

.App .actionFont {
  font-family: 'HelveticaNeue-Medium', sans-serif;
  font-size: 17.9px;
  font-weight: 400;
}
.App .actionFont * {
  font-size: 17.9px;
}
.App .headlineFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 19.4px;
  font-weight: 400;
}
.App .headlineFont * {
  font-size: 19.4px;
}
.App .navBar {
  background-color: #bee9ee;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  min-height: 60px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 18px;
}

.App .navBar a {
  color: black;
}

.App .navBar .title {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
}

.App .navBar .backBtn {
  position: absolute;
  padding: 4px;
  margin-left: 14px;
  cursor: pointer;
}

.App .navBar > div {
  margin-top: 12px;
}

@media (min-width: 568px) {
  .App .navBar {
    height: 60px;
    min-height: 60px;
  }
  .App .navBar > div {
    margin-top: 12px;
  }
}
@media (min-width: 768px) {
  .App .navBar {
    height: 60px;
    min-height: 60px;
  }
  .App .navBar > div {
    margin-top: 12px;
  }
}
@media (min-width: 1024px) {
  .App .navBar {
    height: 60px;
    min-height: 60px;
  }
  .App .navBar > div {
    margin-top: 12px;
  }
}
@media (min-width: 320px) {
  .mui-container {
    max-width: 320px;
  }
}
@media (min-width: 568px) {
  .mui-container {
    max-width: 568px;
  }
}
@media (min-width: 768px) {
  .mui-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mui-container {
    max-width: 1024px;
  }
}

.AppScreen {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.App .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App .layoutFlow {
  position: relative;
  width: 100%;
  pointer-events: none;
}
.App .layoutFlow:before {  /* Prevent margin collapse */
  content: "";
  display: table;
  clear: both;
}
.App .layoutFlow .flowRow {
  position: relative;
  width: 100%;
}

.App .screenFgContainer {
  /* Items in the foreground group within a screen are placed with fixed positioning */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.App .foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.App .hasNestedComps {
  position: relative;
}
.App .hasNestedComps:after {
  content: "";
  display: table;
  clear: both;
}
.App .hasNestedComps .background {
  position: absolute;
}
.App .hasNestedComps .layoutFlow {
  position: relative;
}
.App .bottomAlignedContent {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App .blockInputOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: auto;
  z-index: 99999999;
}

.App .marker {
  width: 0px;
  height: 0px;
}

.App .drawer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.App .drawerOpen {
  transform: translateX(0%);
  transition: 0.3s;
}

.App .drawerClosedLeft {
  transform: translateX(-100%);
  transition: 0.3s;
}

.App .drawerClosedRight {
  transform: translateX(100%);
  transition: 0.3s;
}

.App .drawerContent {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

.App .drawerContent > * {
  height: 100%;
}

/* This component has a fixed-size layout */
  .Selpassport {
    min-height: 190px;  /* This component has a fixed size */
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 190px */
    height: 100%;
  }
  .Selpassport > .background > .containerMinHeight {
    min-height: 190px;
  }


  .Selpassport > .foreground > .elPassport {
    position: absolute;
    left: 24px;
    top: 0px;
    width: 139px;
    height: 139px;
  }


  .Selpassport > .foreground > .elTextBlock {
    position: absolute;
    left: 22px;
    top: 164px;
    width: 141px;
    height: 26px;
  }

/* This component has a fixed-size layout */
  .Selcode {
    min-height: 190px;  /* This component has a fixed size */
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 190px */
    height: 100%;
  }
  .Selcode > .background > .containerMinHeight {
    min-height: 190px;
  }


  .Selcode > .foreground > .elPassport {
    position: absolute;
    left: 24px;
    top: 0px;
    width: 139px;
    height: 139px;
  }


  .Selcode > .foreground > .elTextBlock {
    position: absolute;
    left: 0px;
    top: 164px;
    width: 190px;
    height: 26px;
  }

/* This component has a fixed-size layout */
  .Selqrcode {
    min-height: 190px;  /* This component has a fixed size */
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 190px */
    height: 100%;
  }
  .Selqrcode > .background > .containerMinHeight {
    min-height: 190px;
  }


  .Selqrcode > .foreground > .elPassport {
    position: absolute;
    left: 36px;
    top: 15px;
    width: 118px;
    height: 118px;
  }


  .Selqrcode > .foreground > .elTextBlock {
    position: absolute;
    left: 22px;
    top: 164px;
    width: 141px;
    height: 26px;
  }


/* Narrowest size for this element's responsive layout */
  .SelectResDoneScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .SelectResDoneScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .SelectResDoneScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .SelectResDoneScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .SelectResDoneScreen > .screenFgContainer > .foreground > .elTextBlock {
    position: absolute;
    left: calc(50.0% + 0px - 285px);
    top: 302px;
    width: 569px;
    height: 60px;
  }
@media (min-width: 568px) {
  .SelectResDoneScreen > .screenFgContainer > .foreground > .elTextBlock {
    left: calc(50.0% + 0px - 285px);
    top: 302px;
    width: 569px;
    height: 60px;
  }
}
@media (min-width: 768px) {
  .SelectResDoneScreen > .screenFgContainer > .foreground > .elTextBlock {
    left: calc(50.0% + 0px - 283px);
    top: 300px;
    width: 566px;
    height: 60px;
  }
}
@media (min-width: 1024px) {
  .SelectResDoneScreen > .screenFgContainer > .foreground > .elTextBlock {
    left: calc(50.0% + 0px - 283px);
    top: 300px;
    width: 566px;
    height: 60px;
  }
}

.SelectResDoneScreen .elButton {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 3.4px;
}

.SelectResDoneScreen .elButton:focus {
  box-shadow: 0 0 5px rgba(0, 172, 116, 0.5000);
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .SelectResDoneScreen > .screenFgContainer > .foreground > .elButton {
    line-height: 35px;
    position: absolute;
    left: calc(50.0% + 0px - 95px);
    top: 412px;
    width: 189px;
    height: 35px;
  }
@media (min-width: 568px) {
  .SelectResDoneScreen > .screenFgContainer > .foreground > .elButton {
    line-height: 35px;
    left: calc(50.0% + 0px - 94px);
    top: 412px;
    width: 189px;
    height: 35px;
  }
}
@media (min-width: 768px) {
  .SelectResDoneScreen > .screenFgContainer > .foreground > .elButton {
    line-height: 35px;
    left: calc(50.0% + 0px - 94px);
    top: 410px;
    width: 188px;
    height: 35px;
  }
}
@media (min-width: 1024px) {
  .SelectResDoneScreen > .screenFgContainer > .foreground > .elButton {
    line-height: 35px;
    left: calc(50.0% + 0px - 94px);
    top: 410px;
    width: 188px;
    height: 35px;
  }
}

/* This component has a fixed-size layout */
  .FauxAirBanner {
    min-height: 87px;  /* This component has a fixed size */
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 930px */
    height: 100%;
  }
  .FauxAirBanner > .background > .containerMinHeight {
    min-height: 87px;
  }


  .FauxAirBanner > .foreground > .elFauxairOutlineLogo {
    position: absolute;
    left: 23px;
    top: 6px;
    width: 212px;
    height: 72px;
  }

.FauxAirBanner .elButton {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 3.4px;
}

.FauxAirBanner .elButton:focus {
  box-shadow: 0 0 5px rgba(81, 119, 221, 0.4437);
  outline: none;
}



  .FauxAirBanner > .foreground > .elButton {
    line-height: 35px;
    position: absolute;
    right: 20px;
    top: 34px;
    width: 177px;
    height: 35px;
  }

/* This component has a fixed-size layout */
  .DangerousGoodsCard {
    width: 100%; /* This component was designed using a width of 798px */
    height: 100%;
  }


  .DangerousGoodsCard > .layoutFlow > .elText {
    position: relative;
    margin-top: 46px;
    margin-left: 40px;
    margin-right: 40px;
    width: calc(100.0% - 81px);
  }
  .DangerousGoodsCard > .layoutFlow > .elText > * { 
    width: 100%;
  }
  


  .DangerousGoodsCard > .layoutFlow > .elTextCopy {
    position: relative;
    margin-top: 24px;
    margin-left: 40px;
    margin-right: 44px;
    width: calc(100.0% - 85px);
  }
  .DangerousGoodsCard > .layoutFlow > .elTextCopy > * { 
    width: 100%;
  }
  


  .DangerousGoodsCard > .layoutFlow > .elCheckbox {
    position: relative;
    margin-top: 22px;
    width: 100%;
  }
  .DangerousGoodsCard > .layoutFlow > .elCheckbox > * { 
  margin-left: auto;
  width: 339px;
  margin-right: 37px;
  }
  


/* Narrowest size for this element's responsive layout */
  .SelectReservationScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .SelectReservationScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .SelectReservationScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .SelectReservationScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}

.SelectReservationScreen .elComp {
  overflow: hidden;
}

.SelectReservationScreen .elComp.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .SelectReservationScreen > .screenFgContainer > .foreground > .elComp {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 13px;
    width: 100.0%;
    height: 90px;
  }
  .SelectReservationScreen > .screenFgContainer > .foreground > .elComp > .background > .containerMinHeight {
    min-height: 88px;
  }

@media (min-width: 568px) {
  .SelectReservationScreen > .screenFgContainer > .foreground > .elComp {
    left: 0px;
    right: 0px;
    top: 13px;
    width: 100.0%;
    height: 90px;
  }
  .SelectReservationScreen > .screenFgContainer > .foreground > .elComp > .background > .containerMinHeight {
    min-height: 88px;
  }

}
@media (min-width: 768px) {
  .SelectReservationScreen > .screenFgContainer > .foreground > .elComp {
    left: 0px;
    right: 0px;
    top: 13px;
    width: 100.0%;
    height: 89px;
  }
  .SelectReservationScreen > .screenFgContainer > .foreground > .elComp > .background > .containerMinHeight {
    min-height: 87px;
  }

}
@media (min-width: 1024px) {
  .SelectReservationScreen > .screenFgContainer > .foreground > .elComp {
    left: 0px;
    right: 0px;
    top: 13px;
    width: 100.0%;
    height: 89px;
  }
  .SelectReservationScreen > .screenFgContainer > .foreground > .elComp > .background > .containerMinHeight {
    min-height: 87px;
  }

}

.SelectReservationScreen .elComp2 {
  overflow: hidden;
}

.SelectReservationScreen .elComp2.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .SelectReservationScreen > .screenFgContainer > .foreground > .elComp2 {
    position: absolute;
    right: calc(50.0% + 136px);
    top: 258px;
    width: 190px;
    height: 190px;
  }
  .SelectReservationScreen > .screenFgContainer > .foreground > .elComp2 > .background > .containerMinHeight {
    min-height: 190px;
  }

@media (min-width: 568px) {
  .SelectReservationScreen > .screenFgContainer > .foreground > .elComp2 {
    right: calc(50.0% + 136px);
    top: 258px;
    width: 190px;
    height: 190px;
  }
  .SelectReservationScreen > .screenFgContainer > .foreground > .elComp2 > .background > .containerMinHeight {
    min-height: 190px;
  }

}
@media (min-width: 768px) {
  .SelectReservationScreen > .screenFgContainer > .foreground > .elComp2 {
    right: calc(50.0% + 135px);
    top: 256px;
    width: 190px;
    height: 190px;
  }
  .SelectReservationScreen > .screenFgContainer > .foreground > .elComp2 > .background > .containerMinHeight {
    min-height: 190px;
  }

}
@media (min-width: 1024px) {
  .SelectReservationScreen > .screenFgContainer > .foreground > .elComp2 {
    right: calc(50.0% + 135px);
    top: 256px;
    width: 190px;
    height: 190px;
  }
  .SelectReservationScreen > .screenFgContainer > .foreground > .elComp2 > .background > .containerMinHeight {
    min-height: 190px;
  }

}

.SelectReservationScreen .elCompCopy {
  overflow: hidden;
}

.SelectReservationScreen .elCompCopy.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .SelectReservationScreen > .screenFgContainer > .foreground > .elCompCopy {
    position: absolute;
    left: calc(50.0% + 0px - 95px);
    top: 258px;
    width: 190px;
    height: 190px;
  }
  .SelectReservationScreen > .screenFgContainer > .foreground > .elCompCopy > .background > .containerMinHeight {
    min-height: 190px;
  }

@media (min-width: 568px) {
  .SelectReservationScreen > .screenFgContainer > .foreground > .elCompCopy {
    left: calc(50.0% + 0px - 95px);
    top: 258px;
    width: 190px;
    height: 190px;
  }
  .SelectReservationScreen > .screenFgContainer > .foreground > .elCompCopy > .background > .containerMinHeight {
    min-height: 190px;
  }

}
@media (min-width: 768px) {
  .SelectReservationScreen > .screenFgContainer > .foreground > .elCompCopy {
    left: calc(50.0% + 0px - 95px);
    top: 256px;
    width: 190px;
    height: 190px;
  }
  .SelectReservationScreen > .screenFgContainer > .foreground > .elCompCopy > .background > .containerMinHeight {
    min-height: 190px;
  }

}
@media (min-width: 1024px) {
  .SelectReservationScreen > .screenFgContainer > .foreground > .elCompCopy {
    left: calc(50.0% + 0px - 95px);
    top: 256px;
    width: 190px;
    height: 190px;
  }
  .SelectReservationScreen > .screenFgContainer > .foreground > .elCompCopy > .background > .containerMinHeight {
    min-height: 190px;
  }

}

.SelectReservationScreen .elCompCopy2 {
  overflow: hidden;
}

.SelectReservationScreen .elCompCopy2.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .SelectReservationScreen > .screenFgContainer > .foreground > .elCompCopy2 {
    position: absolute;
    left: calc(50.0% + 136px);
    top: 258px;
    width: 190px;
    height: 190px;
  }
  .SelectReservationScreen > .screenFgContainer > .foreground > .elCompCopy2 > .background > .containerMinHeight {
    min-height: 190px;
  }

@media (min-width: 568px) {
  .SelectReservationScreen > .screenFgContainer > .foreground > .elCompCopy2 {
    left: calc(50.0% + 136px);
    top: 258px;
    width: 190px;
    height: 190px;
  }
  .SelectReservationScreen > .screenFgContainer > .foreground > .elCompCopy2 > .background > .containerMinHeight {
    min-height: 190px;
  }

}
@media (min-width: 768px) {
  .SelectReservationScreen > .screenFgContainer > .foreground > .elCompCopy2 {
    left: calc(50.0% + 135px);
    top: 256px;
    width: 190px;
    height: 190px;
  }
  .SelectReservationScreen > .screenFgContainer > .foreground > .elCompCopy2 > .background > .containerMinHeight {
    min-height: 190px;
  }

}
@media (min-width: 1024px) {
  .SelectReservationScreen > .screenFgContainer > .foreground > .elCompCopy2 {
    left: calc(50.0% + 135px);
    top: 256px;
    width: 190px;
    height: 190px;
  }
  .SelectReservationScreen > .screenFgContainer > .foreground > .elCompCopy2 > .background > .containerMinHeight {
    min-height: 190px;
  }

}


/* Narrowest size for this element's responsive layout */
  .SelectReservationScreen > .screenFgContainer > .foreground > .elText {
    position: absolute;
    left: 41px;
    right: 41px;
    top: 147px;
    width: calc(100.0% - 41px - 41px);
    height: 46px;
  }
@media (min-width: 568px) {
  .SelectReservationScreen > .screenFgContainer > .foreground > .elText {
    left: 41px;
    right: 41px;
    top: 147px;
    width: calc(100.0% - 41px - 41px);
    height: 24px;
  }
}
@media (min-width: 768px) {
  .SelectReservationScreen > .screenFgContainer > .foreground > .elText {
    left: 40px;
    right: 40px;
    top: 146px;
    width: calc(100.0% - 41px - 40px);
    height: 24px;
  }
}
@media (min-width: 1024px) {
  .SelectReservationScreen > .screenFgContainer > .foreground > .elText {
    left: 40px;
    right: 40px;
    top: 146px;
    width: calc(100.0% - 41px - 40px);
    height: 24px;
  }
}


/* Narrowest size for this element's responsive layout */
  .ConditionsScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .ConditionsScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .ConditionsScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .ConditionsScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}

.ConditionsScreen .elDangerousGoodsCard {
  overflow: hidden;
}

.ConditionsScreen .elDangerousGoodsCard.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .ConditionsScreen > .layoutFlow > .elDangerousGoodsCard {
    position: relative;
    margin-top: 154px;
    width: 804px;
    margin-left: calc(50.0% - 402px);
  }
  .ConditionsScreen > .layoutFlow > .elDangerousGoodsCard > * { 
  width: 804px;
  }
  
  .ConditionsScreen > .layoutFlow > .elDangerousGoodsCard > .background > .containerMinHeight {
    min-height: 492px;
  }

@media (min-width: 568px) {
  .ConditionsScreen > .layoutFlow > .elDangerousGoodsCard {
    position: relative;
    margin-top: 154px;
    width: 804px;
    margin-left: calc(50.0% - 402px);
  }
  .ConditionsScreen > .layoutFlow > .elDangerousGoodsCard > * { 
  width: 804px;
  }
  
  .ConditionsScreen > .layoutFlow > .elDangerousGoodsCard > .background > .containerMinHeight {
    min-height: 492px;
  }

}
@media (min-width: 768px) {
  .ConditionsScreen > .layoutFlow > .elDangerousGoodsCard {
    position: relative;
    margin-top: 152px;
    width: 799px;
    margin-left: calc(50.0% - 400px);
  }
  .ConditionsScreen > .layoutFlow > .elDangerousGoodsCard > * { 
  width: 799px;
  }
  
  .ConditionsScreen > .layoutFlow > .elDangerousGoodsCard > .background > .containerMinHeight {
    min-height: 492px;
  }

}
@media (min-width: 1024px) {
  .ConditionsScreen > .layoutFlow > .elDangerousGoodsCard {
    position: relative;
    margin-top: 152px;
    width: 799px;
    margin-left: calc(50.0% - 400px);
  }
  .ConditionsScreen > .layoutFlow > .elDangerousGoodsCard > * { 
  width: 799px;
  }
  
  .ConditionsScreen > .layoutFlow > .elDangerousGoodsCard > .background > .containerMinHeight {
    min-height: 492px;
  }

}

.ConditionsScreen .elButtonContinue button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 3.4px;
}

.ConditionsScreen .elButtonContinue button:focus {
  box-shadow: 0 0 5px rgba(0, 172, 116, 0.5000);
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .ConditionsScreen > .layoutFlow > .elButtonContinue {
    line-height: 42px;
    position: relative;
    margin-top: 42px;
    width: 182px;
    margin-left: calc(50.0% + 221px);
  }
  .ConditionsScreen > .layoutFlow > .elButtonContinue > * { 
  width: 182px;
  height: 42px;
  }
  
@media (min-width: 568px) {
  .ConditionsScreen > .layoutFlow > .elButtonContinue {
    line-height: 42px;
    position: relative;
    margin-top: 42px;
    width: 182px;
    margin-left: calc(50.0% + 221px);
  }
  .ConditionsScreen > .layoutFlow > .elButtonContinue > * { 
  width: 182px;
  height: 42px;
  }
  
}
@media (min-width: 768px) {
  .ConditionsScreen > .layoutFlow > .elButtonContinue {
    line-height: 42px;
    position: relative;
    margin-top: 42px;
    width: 181px;
    margin-left: calc(50.0% + 220px);
  }
  .ConditionsScreen > .layoutFlow > .elButtonContinue > * { 
  width: 181px;
  height: 42px;
  }
  
}
@media (min-width: 1024px) {
  .ConditionsScreen > .layoutFlow > .elButtonContinue {
    line-height: 42px;
    position: relative;
    margin-top: 42px;
    width: 181px;
    margin-left: calc(50.0% + 220px);
  }
  .ConditionsScreen > .layoutFlow > .elButtonContinue > * { 
  width: 181px;
  height: 42px;
  }
  
}

.ConditionsScreen .elComp {
  overflow: hidden;
}

.ConditionsScreen .elComp.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .ConditionsScreen > .screenFgContainer > .foreground > .elComp {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 13px;
    width: 100.0%;
    height: 90px;
  }
  .ConditionsScreen > .screenFgContainer > .foreground > .elComp > .background > .containerMinHeight {
    min-height: 88px;
  }

@media (min-width: 568px) {
  .ConditionsScreen > .screenFgContainer > .foreground > .elComp {
    left: 0px;
    right: 0px;
    top: 13px;
    width: 100.0%;
    height: 90px;
  }
  .ConditionsScreen > .screenFgContainer > .foreground > .elComp > .background > .containerMinHeight {
    min-height: 88px;
  }

}
@media (min-width: 768px) {
  .ConditionsScreen > .screenFgContainer > .foreground > .elComp {
    left: 0px;
    right: 0px;
    top: 13px;
    width: 100.0%;
    height: 89px;
  }
  .ConditionsScreen > .screenFgContainer > .foreground > .elComp > .background > .containerMinHeight {
    min-height: 87px;
  }

}
@media (min-width: 1024px) {
  .ConditionsScreen > .screenFgContainer > .foreground > .elComp {
    left: 0px;
    right: 0px;
    top: 13px;
    width: 100.0%;
    height: 89px;
  }
  .ConditionsScreen > .screenFgContainer > .foreground > .elComp > .background > .containerMinHeight {
    min-height: 87px;
  }

}


/* Narrowest size for this element's responsive layout */
  .WelcomeScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .WelcomeScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .WelcomeScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .WelcomeScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .WelcomeScreen > .layoutFlow > .elText {
    position: relative;
    margin-top: 38px;
    width: 249px;
    margin-left: calc(50.0% - 124px);
  }
  .WelcomeScreen > .layoutFlow > .elText > * { 
  width: 249px;
  }
  
@media (min-width: 568px) {
  .WelcomeScreen > .layoutFlow > .elText {
    position: relative;
    margin-top: 38px;
    width: 249px;
    margin-left: calc(50.0% - 124px);
  }
  .WelcomeScreen > .layoutFlow > .elText > * { 
  width: 249px;
  }
  
}
@media (min-width: 768px) {
  .WelcomeScreen > .layoutFlow > .elText {
    position: relative;
    margin-top: 37px;
    width: 247px;
    margin-left: calc(50.0% - 124px);
  }
  .WelcomeScreen > .layoutFlow > .elText > * { 
  width: 247px;
  }
  
}
@media (min-width: 1024px) {
  .WelcomeScreen > .layoutFlow > .elText {
    position: relative;
    margin-top: 37px;
    width: 247px;
    margin-left: calc(50.0% - 124px);
  }
  .WelcomeScreen > .layoutFlow > .elText > * { 
  width: 247px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .WelcomeScreen > .layoutFlow > .elFauxairLargeLogo {
    position: relative;
    margin-top: 114px;
    width: 511px;
    margin-left: calc(50.0% - 255px);
  }
  .WelcomeScreen > .layoutFlow > .elFauxairLargeLogo > * { 
  width: 511px;
  height: 174px;
  }
  
@media (min-width: 568px) {
  .WelcomeScreen > .layoutFlow > .elFauxairLargeLogo {
    position: relative;
    margin-top: 114px;
    width: 511px;
    margin-left: calc(50.0% - 255px);
  }
  .WelcomeScreen > .layoutFlow > .elFauxairLargeLogo > * { 
  width: 511px;
  height: 174px;
  }
  
}
@media (min-width: 768px) {
  .WelcomeScreen > .layoutFlow > .elFauxairLargeLogo {
    position: relative;
    margin-top: 114px;
    width: 508px;
    margin-left: calc(50.0% - 254px);
  }
  .WelcomeScreen > .layoutFlow > .elFauxairLargeLogo > * { 
  width: 508px;
  height: 173px;
  }
  
}
@media (min-width: 1024px) {
  .WelcomeScreen > .layoutFlow > .elFauxairLargeLogo {
    position: relative;
    margin-top: 114px;
    width: 507px;
    margin-left: calc(50.0% - 254px);
  }
  .WelcomeScreen > .layoutFlow > .elFauxairLargeLogo > * { 
  width: 507px;
  height: 173px;
  }
  
}

.WelcomeScreen .elButton button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 3.4px;
}

.WelcomeScreen .elButton button:focus {
  box-shadow: 0 0 5px rgba(0, 172, 116, 0.5000);
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .WelcomeScreen > .layoutFlow > .elButton {
    line-height: 55px;
    position: relative;
    margin-top: 104px;
    width: 228px;
    margin-left: calc(50.0% - 114px);
  }
  .WelcomeScreen > .layoutFlow > .elButton > * { 
  width: 228px;
  height: 55px;
  }
  
@media (min-width: 568px) {
  .WelcomeScreen > .layoutFlow > .elButton {
    line-height: 55px;
    position: relative;
    margin-top: 104px;
    width: 228px;
    margin-left: calc(50.0% - 114px);
  }
  .WelcomeScreen > .layoutFlow > .elButton > * { 
  width: 228px;
  height: 55px;
  }
  
}
@media (min-width: 768px) {
  .WelcomeScreen > .layoutFlow > .elButton {
    line-height: 55px;
    position: relative;
    margin-top: 104px;
    width: 226px;
    margin-left: calc(50.0% - 113px);
  }
  .WelcomeScreen > .layoutFlow > .elButton > * { 
  width: 226px;
  height: 55px;
  }
  
}
@media (min-width: 1024px) {
  .WelcomeScreen > .layoutFlow > .elButton {
    line-height: 55px;
    position: relative;
    margin-top: 104px;
    width: 226px;
    margin-left: calc(50.0% - 113px);
  }
  .WelcomeScreen > .layoutFlow > .elButton > * { 
  width: 226px;
  height: 55px;
  }
  
}

